  <li id="question_<%= question.id %>">
      <a class="pull-left" href="#">
      <%= gravatar_image_tag(question.user.email, :alt => question.user.name.humanize, size: "64x64") %>
    </a>
    <div class="media-body">
      <h4 class="media-heading"><%= "#{question.title}"  %> <%= link_to question.time, "#", class: "seek_to", data: {time: question.time} %></h4>
      <p><%= simple_format question.content %></p>
      <!-- Nested media object -->
      <em>
        -- <%= question.user.name %>
        | <%= pluralize question.reputation_for(:votes).to_i, "vote" %>
        <% if current_user && !current_user.voted_for?(question) %>
          | <%= link_to "up", vote_classroom_question_path(@classroom, question, type: "up"), method: "post" %>
          | <%= link_to "down", vote_classroom_question_path(@classroom, question, type: "down"), method: "post" %>
        <% end %>
      </em>
      <button type="button" class="btn btn-default" onclick="$('#<%= "new_answer_form_question_#{question.id}" %>').slideToggle()" >answer!</button>

      <%= form_for [question.classroom, question, question.answers.build()], :html => { :id => "new_answer_form_question_#{question.id}", :class => 'new_answer_form form-horizontal', :remote => true } do |f| %>
        <div class="control-group">
          <%= f.hidden_field :question_id, value: question.id  %>
          <%= f.label :content, 'your answer', :class => 'control-label' %>
          <div class="controls">
            <%= f.text_area :content, rows: 2, :class => 'text_area new_answer_field', :id => "question__#{ question.id}_answer_content" %>
          </div>
        </div>
        <%= f.submit "Send" %>
      <% end %>
      <div id="question_<%= question.id %>_answers">
        <% question.answers.each do |answer| %>
          <%= render answer %>
        <% end %>
      </div>
    </div>
  </li>